@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #d4d4d8;
    border-radius: 10px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #a1a1aa;
  }
}
.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background: #52525b;
}
.dark .custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #71717a;
}
@layer base {
  *, ::before, ::after {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
  }
}
